<h2 class="heading thanks-heading">MESSAGE SENT SUCCSESSFULLY.</h2>
<div class="thanks-wrapper">
  <p class="thanks-message">お問い合わせいただきありがとうございました。</p>
  <p class="thanks-message">1週間たっても返事のない場合は御手数ですが再度お問い合わせ、</p>
  <p class="thanks-message">もしくは<%= link_to "Twitter", "https://twitter.com/ysk_200", target: "_blank" %>からDMをお願いいたします。</p>
</div>
<div class="back-to-index">
  <a class="button button-grey" href="/">GO BACK</a>
</div>
