@charset "UTF-8"

html {
  /* font-size: 62.5%; */
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #151515 url("portfolio_background.jpg") no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-family: 'Kreon', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.header {
  padding: 170px 30px 80px;
}

.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 2px;
  font-size: 2.2rem;
}

.site-title-sub::before, .site-title-sub::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
}

.site-title {
  margin: 50px 0 40px;
  font-size: 7.6rem;
}

.site-description {
  margin-bottom: 50px;
  color: #888;
  font-size: 1.6rem;
}

.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  border: 10px double #ffffff;
  background-color: rgba(256, 0, 0, 0.5);
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.button:hover {
  opacity: 0.9;
}

.button-showy {
  background-color: rgba(0, 0, 256, 0.5);
}

.buttons .button {
  margin: 10px;
}

.about {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}

.heading{
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}

.heading::before, .heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}


.heading::before {
  bottom: 5px;
}

.about-text {
  margin: 30px 0;
  line-height: 2.5;
}

.skills {
  background-color: #383634;
  padding: 80px 0;
}

.skills-wrapper {
  display: table;
  width: 100%;
  height: 500px;
  margin-top: 60px;
  table-layout: fixed;
}

.skill-box {
  display: table-cell;
  position: relative;
  height: 100%;
}

.skill-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
}

.red-box {
  background-color: rgba(256, 0, 0, 0.3);
}

.blue-box {
  background-color: rgba(0, 0, 256, 0.3);
}

.skill-text {
  font-size: 2rem;
  text-align: center;
  /* line-height: 50px; */
  margin-left: auto;
  height: 50%;
}

.skill-text-title {
  line-height: 100px;
}

.skill-text-detail {
  font-size: 1rem;
  margin-bottom: 30px;
}

.works {
  padding: 80px 0;
  background-color: #fff;
  color: #333;
}

.hobby-heading {
  margin-top: 80px;
}

.works-wrapper, .hobbies-wrapper {
  display: table;
  table-layout: fixed;
  margin: 50px auto 0;
}

.works-wrapper {
  width: 80%;
}

.hobbies-wrapper {
  width: 100%;
}

.work-box, .hobby-box {
  display: table-cell;
}

.work-image, .hobby-image {
  display: block;
  border-style: none;
  width: 100%;
  overflow: hidden;
}

.work-image {
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  padding: 20px;
}

.hobby-image {
  padding: 5px;
}

.work-image img {
  display: block;
  transition-duration: 0.3s;
}

.work-image img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.application-title {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.work-text {
  margin: 10px;
  font-size: 1.2rem;
}

.button-grey {
  margin-top: 30px;
  border-style: none;
  background-color: #424242;
}

.hobby-title {
  font-size: 1.5rem;
}

.hobby-content p {
  font-size: 1.3rem;
  margin: 20px 0;
}

.youtube-icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding-top: 20px;
}

.watch-youtube {
  display: inline-block;
  line-height: 30px;
  margin: 0px;
  height: 40px;
}

.hobby-content a {
  font-size: 1rem;
  display: inline-block;
  line-height: 30px;
  margin: 0px;
  height: 40px;
}

.watch-youtube p {
  display: inline-block;
  margin: 0px;
  padding-left: 5px;
}

.watch-youtube a {
  color: black;
  text-decoration: none;
}

.contact {
  padding: 80px 0 150px;
}

.contact-form {
  width: 50%;
  margin: 50px auto 0;
}

.contact-name, .contact-email, .contact-massage {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  outline: none;
}

/* .contact-form input[type=text], .contact-form input[type=email], .contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  outline: none;
} */

.contact-name:focus, .contact-email:focus, .contact-massage:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
}

/* .contact-form input[type=text]:focus, .contact-form input[type=email]:focus, .contact-form textarea:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
} */

.contact-massage {
  height: 150px;
}

/* .contact-form textarea {
  height: 150px;
} */

.contact-submit {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

/* .contact-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
} */

.contact-submit:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* .contact-form input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.05);
} */

.footer {
  padding: 30px 0;
  font-size: 1.3rem;
  letter-spacing: 3px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}



.page-header {

}

.confirm-info {
  /* width: 80%; */
}

.confirm-name, .confirm-email {
  font-size: 1.3rem;
  margin: 20px 0;
}

.confirm-message {
  font-size: 1.5rem;
  margin-top: 50px;
}

.message-info {
  font-size: 1.5rem;
  margin-top: 20px;
}

.confirm-email-info, .confirm-name-info, .confirm-message-info {
  margin-top: 20px;
}

.contact-name, .contact-email, .contact-massage {
  color: #ccc;
}

.thanks-wrapper a, .thanks-wrapper a:active {
  color: white;
}

.thanks-message {
  margin: 80px 0;
  font-size: 1.2rem;
}

.thanks-heading {
  font-size: 3rem;
}

.alert ul {
  list-style: none;
}

.alert li {
  margin: 10px 0;
  letter-spacing: 2px;
}

.fiita-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.fiita-modal {
  position: absolute;
  top: 10%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fiita-show-modal {
  cursor: pointer;
}

.close-modal {
  cursor: pointer;
}

.work-image-in-modal {
  width: 80%;
  padding: 0px;
  margin: auto;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.application-title-in-modal {
  font-size: 20px;
  margin-top: 10px;
}

.application-detail h2 {
  font-size: 18px;
  margin: 20px 0 10px;
}

.application-detail-left {
  float: left;
  text-align: left;
  margin-left: 20px;
}

.application-detail-right {
  float: right;
  text-align: left;
  margin-right: 20px;
}

.clear {
  clear: both;
}

@media (max-width: 1024px) {
  body {
    background-image: none;
  }
}

@media (max-width: 768px) {
  .site-title-sub::before, .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }

  .site-title-sub {
    font-size: 1.7rem;
  }

  .site-title {
    margin-top: 35px;
    font-size: 2.7rem;
  }

  .header {
    padding-top: 60px;
  }

  .button:hover {
    opacity: 1;
  }

  .heading {
    font-size: 2.5rem;
  }

  body {
    font-size: 0.9rem;
  }

  .skills-wrapper, .skill-box {
    display: block;
  }

  .skills-wrapper {
    height: 1080px;
  }

  .skill-box {
    height: 280px;
  }

  .skill-text {
    line-height: 100px;
  }

  .skill-text-title {
    line-height: 50px;
  }

  .skill-text-detail {
    line-height: 30px;
    margin-bottom: 0px;
  }

  .reverse-red-box {
    background-color: rgba(256, 0, 0, 0.3);
  }

  .reverse-blue-box {
    background-color: rgba(0, 0, 256, 0.3);
  }

  .works-wrapper, .work-box, .hobbies-wrapper, .hobby-box {
    display: block;
  }

  .work-box, .hobby-box {
    margin: 40px auto;
  }

  .work-text {
    margin: 30px;;
  }

  .hobby-content p {
    font-size: 1rem;
  }

  .contact-form {
    width: 80%;
  }

  .contact {
    padding-bottom: 80px;
  }

  .thanks-heading {
    font-size: 1.5rem;
  }

  .thanks-message {
    font-size: 0.8rem;
  }

  .fiita-modal {
    position: absolute;
    top: 3%;
    left: 5%;
    width: 340px;
  }

  .application-detail-left, .application-detail-right {
    font-size: 12px;
  }
}
